In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/student_spending.csv')
df.head(3)

,age,gender,year_in_school,major,monthly_income,financial_aid,tuition,housing,food,transportation,books_supplies,entertainment,personal_care,technology,health_wellness,miscellaneous,preferred_payment_method
0,19,Non-binary,Freshman,Psychology,958,270,5939,709,296,123,188,41,78,134,127,72,Credit/Debit Card
1,24,Female,Junior,Economics,1006,875,4908,557,365,85,252,74,92,226,129,68,Credit/Debit Card
2,24,Non-binary,Junior,Economics,734,928,3051,666,220,137,99,130,23,239,112,133,Cash

In [6]:
Q1 = df.housing.quantile(0.25)
Q2 = df.housing.quantile(0.50)
Q3 = df.housing.quantile(0.75)
Q4 = df.housing.quantile(1)

hou_median = df.housing.median()

Q1, Q2, Q3, Q4,  hou_median

(538.75, 704.5, 837.25, 1000.0, 704.5)

In [7]:
IQR_housing = Q3 - Q1
IQR_housing

298.5

In [9]:
P = df.housing.quantile(0.99)
P

987.0